<h1><%= t('page.admin.index') %></h1>

<div id="admin_table">
	<div class="table_buttons">
		<a class="edit off">Editer</a>
		<a class="edit on" href="#">Editer</a>
	</div>
	<%= present @table %>
</div>