#container.funding {

  #container.soutien {
    padding: 50px 0 0 0;
    text-align: center;
    
    form {
      input {
        width: initial;
        height: initial;
        border: initial;
        border-radius: 0px;
      }
    }

    .info {
      width: 90%;
      margin: auto;
      padding-bottom: 20px;
    }
  }
}