@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes appears {
	to {
		opacity: 1;
	}
}

#banner.home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: image-url("layout/banner2.jpg");
	h1 {
		opacity: 0;
		animation: appears .3s linear forwards;
		animation-delay: .7s;

		span {
			opacity: 0;
			animation: appears .3s linear forwards;
			animation-delay: 4s;
		}
		svg {
			height: 70px;
			width: initial;
			vertical-align: bottom;
			transform: translateY(15px);
		}
		path {
			stroke-dasharray: 45;
			stroke-dashoffset: 45;
			animation: dash 1.5s linear forwards;
			stroke-width: 0.7px !important;
		}
		svg:first-of-type {
			background-position: 0% 0%;
			background: linear-gradient(-45deg, 
				rgba(123, 255, 47, 0), 
				rgba(255, 217, 0, 0.3), 
				rgba(0, 191, 255, 0.3), 
				rgba(94, 255, 0, 0));
			background-size: 400% 400%;
			-webkit-animation: Gradient 25s linear infinite;
			-moz-animation: Gradient 25s linear infinite;
			animation: Gradient 25s linear infinite;
			path {
				animation-delay: 1s;
			}
		}
		svg:nth-of-type(2) {
			background-position: 0% 0%;
			background: linear-gradient(-45deg, 
				rgba(123, 255, 47, 0), 
				rgba(0, 191, 255, 0.3),
				rgba(255, 217, 0, 0.3),  
				rgba(94, 255, 0, 0));
			background-size: 400% 400%;
			-webkit-animation: Gradient 25s linear infinite;
			-moz-animation: Gradient 25s linear infinite;
			animation: Gradient 25s linear infinite;
			path {
				animation-delay: 1.5s;
			}
		}
		svg:nth-of-type(3) {
			background-position: 0% 0%;
			background: linear-gradient(-45deg, 
				rgba(123, 255, 47, 0), 
				rgba(255, 217, 0, 0.3), 
				rgba(0, 191, 255, 0.3), 
				rgba(94, 255, 0, 0));
			background-size: 400% 400%;
			-webkit-animation: Gradient 25s linear infinite;
			-moz-animation: Gradient 25s linear infinite;
			animation: Gradient 25s linear infinite;
			path {
				animation-delay: 2s;
			}
		}
	}
}
#container.home {
	.content {
		padding: 0 0 5px 0;
		border-bottom: 1px dashed red;
	}
	h2 span.date {
		color: #E20000;
		text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.15);
		vertical-align: middle;
		font-size: 15px;
	}
	.event {
		box-shadow: 0 2px 1px rgb(184, 184, 184);
		padding: 20px;
		h2 {
			text-align: center;
			padding: 0 0 5px 0;
			font-family: "Open sans";
			font-size: 19px;
		}
		img {
			float: right;
			padding: 0 20px 20px 20px;
			max-width: 100%;
		}
		.infos {
			text-align: right;
			padding: 5px 0 0 0;
			font-size: 12px;
			color: #777;
		}
	}
}
