@keyframes appears {
	to {
		opacity: 1;
	}
}

#banner.home {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: image-url("layout/banner4.jpg");
	
	h1 {
		opacity: 0;
		animation: appears .3s linear forwards;
		animation-delay: .7s;

		span {
			color: #CDFFD1;
		}
	}
}

#container.home {

	div.how {
		display: flex;
		flex-direction: row;

		div.youtube {
			background-color: #0f0f0f;
			flex: 1;
			height: 370px;
			position: relative;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		div.text {
			flex: 2;
			overflow: hidden;
			padding: 0 0 0 20px;

			div.text-container {
				display: flex;
				flex-direction: column;

				div.pictures {
					overflow-x: scroll;
					width: 100%;
					padding: 0 0 30px 0;

					&::-webkit-scrollbar {
						overflow: hidden;
						display: none;
					}

					div.pictures-wrap {
						width: 128px * 26;

						img {
							float: left;
						}
					}
				}
			}
		}
	}

	div.channels {
		height: 100px;
		background-color: rgb(196, 0, 0);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #fff;
		align-items: center;
		margin: 20px 0 0 0;

		div.title {
			padding: 20px;
			background-color: rgba(0, 0, 0, 0.2);
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-basis: 40%;
			font-size: 12px;

			img {
				max-height: 50px;
				padding: 0 0 5px 0;
			}
		}

			div.channel-wrap {
				flex: 1;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				height: 100%;

			div.youtube, div.facebook, div.newsletter, div.my-eebulle {
				flex: 1;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: 12px;
				padding: 12px 20px;
				position: relative;
				cursor: pointer;

				img {
					max-height: 40px;
					padding: 0 0 5px 0;
				}

				a {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 1;

					&:hover {
						background-color: rgba(255, 255, 255, 0.2);
					}
				}
			}
		}
	}


	h2 span.date {
		color: #E20000;
		text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.15);
		vertical-align: middle;
		font-size: 15px;
	}

	.event {
		box-shadow: 0 2px 1px rgb(184, 184, 184);
		padding: 20px;
		h2 {
			text-align: center;
			padding: 0 0 5px 0;
			font-family: "Open sans";
			font-size: 19px;
		}
		img {
			float: right;
			padding: 0 20px 20px 20px;
			max-width: 100%;
		}
		.infos {
			text-align: right;
			padding: 5px 0 0 0;
			font-size: 12px;
			color: #777;
		}
	}

	@media (max-width: 992px)
	{
		div.how {
			flex-direction: column !important;

			div.text {
				padding: 10px 0 0 0 !important;
			}
		}

		div.channels {
			flex-direction: column !important;
			height: 200px !important;

			div.title {
				width: 100% !important;
			}
		}
	}
}
