#container.network {

  .links {
    text-align: center;
    padding: 20px;

  }

  .logos {
    text-align: center;
    padding: 20px;
    img {
      padding: 5px;
    }
  }

  .text {
    line-height: 1.6em;

    h3 {
      padding: 20px 0 10px 0;
    }
    p {
      color: #484848;
    }
  }

  #map-wrapper {
    height: 400px;
    margin: 20px;
    #map {
      position: absolute;
      height: 400px;
      left: 0;
      right: 0;
    }
  }

  .charte {
    text-align: center;
    padding: 40px 0 10px 0;
    img {
      vertical-align: middle;
    }
  }

}
