<div id="agenda">

<div class="header">
  <div class="month">
    Octobre
  </div>
  <ul>
    <li>lundi</li>
    <li>mardi</li>
    <li>mercredi</li>
    <li>jeudi</li>
    <li>vendredi</li>
    <li>samedi</li>
    <li>dimanche</li>
  </ul>
</div>

<div class="week-container">
  <% week = 8; days = 7; %>
  <% week.times do %>
  <div class="week">
    <ul>
      <% days.times do %>
      <li>
        <p class="day-number">12</p>
        <p class="event">
          Séminaire sur la guéri...
        </p>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

</div>
