<% content_for :id, 'funding' %>

<h1>Financement</h1>

<%= render "content" %>

<div id="container" class="soutien">

  <p class="info">
    Donner aussi par <strong>carte de crédit</strong> ! <br>
    En cliquant sur le bouton ci-dessous, vous pouvez payer simplement avec votre carte de crédit, sans inscription (voir la section "Vous n'avez pas de compte PayPal ?" en bas à gauche de la page).<br>
    Vous pouvez également utiliser un compte PayPal si vous en possédez un.
  </p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="7PT4F8QVK9P5S">
    <input type="image" src="https://www.paypalobjects.com/fr_FR/CH/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
  </form>
    
</div>