<center>
  <h2>Vous vous être bien inscrit à notre newsletter</h2>
  <p>Vous êtes sur notre liste d'envois d'emails. Vous pourrez à tout moment vous désinscrire. Un lien est présent dans chaque email que
  vous recevrez de notre part.</p>
  <p>Nous serions également ravis d'avoir votre avis, écrivez-nous ici: <%= link_to "contact", "mailto:kocher.ke@gmail.com" %></p>
</center>
