<center>
  <h2>Erreur dans la désinscription</h2>
  <p>Nous ne connaissons pas cette addresse email.</p>
  <p><i class="fi-mail"></i> <b><%= link_to t('newsletter_email.new.title'), new_newsletter_email_path %></b></p>
</center>
