<center>
  <h2>Vous vous être bien désinscrit de notre newsletter</h2>
  <p>Vous pouvez à tout moment vous réinscrire en suivant ce lien: </p>
  <p><i class="fi-mail"></i> <b><%= link_to t('newsletter_email.new.title'), new_newsletter_email_path %></b></p>
  <p>Nous serions également ravis d'avoir votre avis, écrivez-nous ici: <%= link_to "contact", "mailto:kocher.ke@gmail.com" %></p>
</center>
