#banner.home {
	display: block;
	background: image-url("layout/banner.jpg");
}
#container.home {
	.activities {
		.activity {
			padding: 7px;
			width: 33%;
			float: left;
			.wrapper {
				background: #dfdfdf;
				padding: 15px;
				.content {
					font-size: 13px;
				}
			}
		}
	}
}