/* http://getbootstrap.com/css/#responsive-utilities */
/* Very Large devices */
@media (max-width: 1435px)
{
	//Home event
	#container.home .event img {
		max-width: 600px;
	}
}
/* Large devices */
@media (max-width: 1200px)
{
	// Header
	header {
		.menus {
			.up {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

/* Medium devices */
@media (max-width: 992px)
{
	//Home activities
	#container.home {
		.activities {
			.activity {
				width: 50%;
			}
		}
	}
	//Home event
	#container.home .event img {
		max-width: 400px;
	}
	// Header
	header {
		padding: 0;
		#logo {
			img {
				width: 222px;
			}
		}
		.menus {
			.up {
				width: 200px;
				position: absolute;
				top: 0;
				right: 0;
			}
			.down {
				ul {
					text-align: center;
					li {
						padding: 5px 5px;
					}
				}
			}
		}
	}
}

/* Small devices */
@media (max-width: 768px)
{
	//Home activities
	#container.home {
		.activities {
			.activity {
				width: 100%;
			}
		}
	}
	//footer
	footer {
		height: 250px;
		.col2 {
			width: 100%;
			text-align: center;
			&:last-child {
				padding-top: 10px;
				border-top: 1px solid #ddd;
			}
		}
	}
	#wrapper {
		padding-bottom: 250px;
	}
}
