<% if flash.any? %>
	<% flash.each do |key, value| %>
		<%= content_tag :div, id: "flash", class: "flash-#{key}" do %>
			<%= value %>
			<span class="close">fermer</span>
		<% end %>
	<% end %>
<% end %>

<% if params[:thanks] %>
  <%= content_tag :div, id: "flash", class: "flash-success" do %>
    <p>Merci de soutenir votre église locale ! </p>
    <span class="close">fermer</span>
  <% end %>
<% end %>